.service-intro {
  h2 {
    color: rgb(0, 105, 92);
  }
}
.services-listing {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .service {
    max-width: 30vw;
    h3 {
      font-family: Poppins;
      color: aliceblue;
      justify-content: center;
    }
    p {
      max-width: 100%;
      justify-content: center;
      padding: 0;
    }
  }
  .service:last-child {
    grid-column-end: 2 span;
  }
}

.solidus-promise,
.evolution,
.client-focus {
  display: flex;
  align-content: left;
  flex-direction: column;
  width: 80vw;
  h2 {
    // width: 100%;
    text-align: left;
  }
  p {
    min-width: 100%;
    text-align: left;
    padding: 0;
    margin: 0;
  }
}
